<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <title>User Directory</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    {{#users}}
      <div class="person">
        <a href="/profile/{{name}}">
          <img src="{{avatar}}"/>
          <p class="name" >{{name}}</p>
        </a>
        {{#job}}
            <p>{{job}}, </p>
            <p>{{company}}</p>
        {{/job}}
        {{^job}}
          <p class="noJob">Available for hire</p>
        </br>
        {{/job}}
      </div>
    {{/users}}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>

<!-- Latest compiled and minified JavaScript -->
