body{

  margin-left: 400px;
  margin-right: 400px;
}
.upper{
    text-align: center;
}
.lower{
  margin-top: 50px;
}
img{
  border: 1px solid black;
  border-radius: 200px;
  float: left;
}
.noJob{
  color: red;
}
